.flex-box {
    display:flex;
    justify-content:space-between;
    outline: 2px dashed blue;
  }
  
  .flex-box-2 {
    display:flex;
    justify-content: flex-end;
    outline: 2px deeppink dashed;
  }

  .w-100 {
    width: 100%;
  }

  .hdb-img {
    /* The image used */
    background-image: url("/images/HDB1.jpg");
    padding-top: 400px;
    

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    
  color: red;
    /* Needed to position the navbar */
    position:relative;
  }
  
  .logo-img {
    background-image: url("/images/kampongsslogo.png");
    background-size: 800px 200px;
    background-position: 120px -40px;
    background-repeat: no-repeat;
    height: 100px;
    width: 1000px;

  }

  /* Position the navbar container inside the image 
  .container {
    position: absolute;
    margin: 200px;

  }
 
  /* The navbar 
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  */
    /* Navbar links*/
    .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /*
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  } 

*/
  